modules:
  - name: Enable aitocreation of user dirs
    type: shell
    body:
      command: sed -i 's/^[[:space:]]*enabled=false/enabled=True/i' /etc/xdg/user-dirs.conf

  - name: Increase limits of opened fd
    type: shell
    body:
      command: |
        grep -qE "^\* hard nofile 978160$" /etc/security/limits.conf || echo "* hard nofile 978160" >> /etc/security/limits.conf
        grep -qE "^\* soft nofile 978160$" /etc/security/limits.conf || echo "* soft nofile 978160" >> /etc/security/limits.conf

  - name: Fix podman
    type: shell
    body:
      command: |
        chmod u+s /usr/bin/newuidmap /usr/bin/newgidmap
        chmod a+x /usr/bin/newuidmap /usr/bin/newgidmap

  - name: Set locale
    type: copy
    body:
      target: files/locale.conf
      destination: /etc/locale.conf
      replace: true

  - type: copy
    body:
      target: files/locale.conf
      destination: /etc/sysconfig/i18n
      replace: true
