[Unit]
Description=Sync system users and groups for nss-altfiles
After=systemd-tmpfiles-setup.service local-fs.target
Before=nss-user-lookup.target

[Service]
Type=oneshot
ExecStart=/usr/bin/apm s i fix-nss -ft plain
ExecStart=/usr/bin/apm s i sync-groups -ft plain
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
