[Unit]
Description=Sync system users and groups for nss-altfiles
After=local-fs.target
Before=nss-user-lookup.target

[Service]
Type=oneshot
ExecStart=apm s i fix-nss -ft plain
ExecStart=apm s i sync-groups -ft plain
RemainAfterExit=yes

[Install]
WantedBy=nss-user-lookup.target
