# Runs in early sysinit so NSS databases are consistent BEFORE
# udev coldplug and tmpfiles resolve owner/group names.
[Unit]
Description=Sync system users and groups for nss-altfiles
DefaultDependencies=no
After=systemd-remount-fs.service
Before=sysinit.target systemd-udev-trigger.service

[Service]
Type=oneshot
ExecStart=/usr/bin/apm s i fix-nss -ft plain
ExecStart=/usr/bin/apm s i sync-groups -ft plain
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
